name: Commit and Push

on:
  push:
    branches:
      - main

jobs:
  commit-and-push:
    runs-on: windows-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Configure Git user
        run: |
          git config --global user.name "ArturPlentz2002"
          git config --global user.email "artursplentz@gmail.com"

      - name: Make changes and commit
        run: |
          echo "Mudanças automáticas" >> arquivo.txt # Exemplo de alteração
          git add arquivo.txt
          git commit -m "Commit automático pelo GitHub Actions"

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          git push https://ArturPlentz2002:${{ secrets.PAT_TOKEN }}@github.com/ArturPlentz2002/Gerenciamento-tf.git main
